.popup-container {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  padding: 30px;
  max-width: 95%;
  width: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.header,
h2,
.close-button,
.info,
.info-icon,
.info-text,
.bar-chart {
  text-align: left;
}

h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
  display: inline-block;
}

.close-button {
  cursor: pointer;
  font-size: 28px;
  color: #000;
  transition: color 0.2s;
  float: right;
}

.efficient-algorithm {
  font-size: 14px;
  color: #333;
  margin-top: 20px;
}

.close-button:hover {
  color: #ffda44;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.info-icon {
  font-size: 24px;
  color: #000;
  margin-right: 10px;
}

.info-text {
  font-size: 14px;
  color: #333;
}

.bar-chart {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}
