<div class="popup-container">
  <div class="header">
    <h2>Energy consumed by Algorithm during Training</h2>
    <div class="close-button" (click)="onClose()">&times;</div>
  </div>
  <br />
  <div class="info">
    <div class="info-icon">
      <mat-icon>info</mat-icon>
    </div>
    <div class="info-text">
      <span>{{ warningMessage }}</span>
    </div>
  </div>
  <div class="bar-chart" *ngIf="!overLimit">
    <app-chart [labels]="data.labels" [data]="data.chartData"></app-chart>
  </div>
  <p *ngIf="efficientAlgorithmLabel" class="efficient-algorithm">
    According to the measured values and the prediction,
    <strong>{{ efficientAlgorithmLabel }}</strong> is the most energy-efficient
    algorithm.
  </p>
</div>
