<div class="content">
  <h1>About</h1>
  <p>
    HollerithEnergyML is a project developed as part of the Master's program in
    Digital Business Engineering (M.Sc.) at the Hermann-Hollerit-Center, in
    collaboration with the KI Lab Region Stuttgart. Our aim is to investigate
    the energy consumption of machine learning models and find ways to make
    their use more efficient.
  </p>
  <p>
    We conducted a detailed analysis of various machine learning models to
    compare their resource consumption. This analysis led to the development of
    a predictive model capable of estimating the energy needed for specific
    tasks, based on the number of numerical and categorical features and the
    size of the datasets.
  </p>
  <p>
    As a pivotal outcome of our work, we introduce the HollerithEnergyML
    Recommender System. This system guides users towards more energy-efficient
    practices in machine learning training, aligning with our broader goal of
    fostering sustainable development in artificial intelligence.
  </p>
</div>
