.custom-navbar {
  background-color: #343a40;
}

.custom-navbar .navbar-nav .nav-link {
  color: #ffffff;
  cursor: pointer;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: #ffc107;
  cursor: pointer;
}

.custom-navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.custom-navbar .navbar-brand img {
  margin-right: 10px;
}
