/* styles.scss */

/* Gemeinsames Styling für alle Bildschirmgrößen */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px; /* Abstand links hinzufügen */
  padding-right: 20px; /* Abstand rechts hinzufügen */
}

.header-text {
  font-size: 36px; /* Ihre gewünschte Schriftgröße */
  color: #333; /* Ihre gewünschte Textfarbe */
  text-align: center; /* Text zentrieren */
  margin-top: 50px; /* Optional: Einen Abstand nach oben hinzufügen */
}

.short-text {
  font-size: 24px; /* Ihre gewünschte Schriftgröße */
  color: #333; /* Ihre gewünschte Textfarbe */
  text-align: center; /* Text zentrieren */
  margin-top: 5px; /* Optional: Einen Abstand nach oben hinzufügen */
}

.input-fields {
  text-align: center;
}

.input-field {
  padding: 10px;
  padding-top: 40px;
}

.heading {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

/* Responsive-Änderungen für kleinere Bildschirmgrößen (z.B. Tablets und Mobilgeräte) */
@media screen and (max-width: 768px) {
  .center-container {
    height: 70vh; /* Anpassung der Höhe für kleinere Bildschirme */
  }

  .header-text {
    font-size: 28px; /* Anpassung der Schriftgröße */
    margin-top: 10px; /* Anpassung des oberen Abstands */
  }

  .short-text {
    font-size: 20px; /* Anpassung der Schriftgröße */
    margin-top: 5px; /* Anpassung des oberen Abstands */
  }

  .input-field {
    padding-top: 20px; /* Anpassung des oberen Abstands */
  }

  .container {
    flex-direction: column; /* Anpassung der Anordnung für kleinere Bildschirme */
    align-items: center; /* Zentrierung für kleinere Bildschirme */
    margin-top: 10px; /* Anpassung des oberen Abstands */
  }
}
