@use '@angular/material' as mat;

@include mat.core();

$orange: (
    50 : #fff9e0,
    100 : #fff0b3,
    200 : #ffe680,
    300 : #fedb4d,
    400 : #fed426,
    500 : #fecc00,
    600 : #fec700,
    700 : #fec000,
    800 : #feb900,
    900 : #fdad00,
    A100 : #ffffff,
    A200 : #fffaf1,
    A400 : #ffe8be,
    A700 : #ffdfa4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$grey: (
    50 : #f1f1f0,
    100 : #dcdcd9,
    200 : #c5c4c0,
    300 : #aeaca7,
    400 : #9c9b94,
    500 : #8b8981,
    600 : #838179,
    700 : #78766e,
    800 : #6e6c64,
    900 : #5b5951,
    A100 : #fbf1c7,
    A200 : #f8e598,
    A400 : #ffdf5d,
    A700 : #ffda44,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$my-primary: mat.define-palette($orange, 500, 700, 900);
$my-accent: mat.define-palette($grey, 500);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);