<div class="content">
  <h1>Disclaimer</h1>
  <h3>DEUTSCHE VERSION</h3>
  <p>
    Disclaimer für die Website von HollerithEngeryML Inhalte der Website: Die
    auf dieser Website präsentierten Inhalte und Ergebnisse des Projekts
    "HollerithEngeryML" wurden von Studierenden im Rahmen ihres Studiums
    erstellt. Diese Inhalte dienen ausschließlich zu Bildungs- und
    Informationszwecken. Keine Gewähr für Richtigkeit und Aktualität: Trotz
    sorgfältiger Bemühungen, die Informationen auf unserer Website korrekt zu
    halten, übernehmen wir keine Garantie für die Aktualität, Richtigkeit,
    Vollständigkeit oder Qualität der bereitgestellten Informationen. Die
    Nutzung der Inhalte der Website erfolgt auf eigene Gefahr des Nutzers
    Haftungsbeschränkung für externe Links: Trotz sorgfältiger inhaltlicher
    Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für
    den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber
    verantwortlich.
  </p>
  <p>
    Dieser Disclaimer ist als Teil des Internetangebotes zu betrachten, von dem
    aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne
    Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder
    nicht vollständig entsprechen sollten, bleiben die übrigen Teile des
    Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
  </p>

  <h3>ENGLISH VERSION</h3>
  <p>
    Disclaimer for the HollerithEngeryML website: Contents of the website: The
    content and results of the "HollerithEngeryML" project presented on this
    website were created by students as part of their studies. This content is
    for educational and informational purposes only. No guarantee for
    correctness and topicality: Despite careful efforts to keep the information
    on our website correct, we do not guarantee the topicality, correctness,
    completeness or quality of the information provided. The use of the contents
    of the website is at the user's own risk. Limitation of liability for
    external links: Despite careful checking of the content, we accept no
    liability for the content of external links. The operators of the linked
    pages are solely responsible for their content.
  </p>
  <p>
    This disclaimer is to be regarded as part of the internet publication which
    you were referred from. If sections or individual terms of this statement
    are not legal or correct, the content or validity of the other parts remain
    uninfluenced by this fact.
  </p>
</div>
